body {
  background-color: rgba(25, 18, 18, 0.96);

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

input {
  border-radius: 8px;
}

.calc-wrapper {
  background-color: rgb(202, 197, 197);
  border-radius: 10px;
  width: 400px;
  height: fit-content;
  border: 2px outset black;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pay-button {
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.field-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.balance-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px ;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-color: red;
}

.history {
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid black;
  width: 200px;
  margin: auto;
}

.payoff {
  display: flex;
  gap: 10px;
  padding: 20px 10px;
  font-size: 10px;

}

.payoff div {
background-color: white;
border-radius: 3px;
margin: auto;
position: relative;
bottom: 40px;
width: 275px;
padding: 5px;
  
}