body {
  background-color: rgba(15, 14, 14, 0.96);

}

li { 
  color: rgb(3, 124, 3);
  list-style: none;
  border: .5px solid black;
  border-radius: 5px;
  padding: 10px;
  margin: 0;
  font-weight: 800;
}

ul {
  width: 200px;
  background-color: white;
  border-radius: 10px;
  padding: 0;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color:  rgb(63, 111, 73);
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-weight: 800;
}
  
.reset {
  text-align: center;
}


.resetButton {
  text-align: center;
  padding: 5px;
  background-color: red;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

input {
  border-radius: 8px;
}

.calc-wrapper {
  background-color: rgb(52 49 49);
  border-radius: 10px;
  width: 400px;
  height: fit-content;
  border: 2px outset black;
  margin: 50px auto;
  padding: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.pay-button {
 display: flex;
 justify-content: center;
 align-items: center;
 
}

.field-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  color: white;
}

.balance-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px ;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-color: red;
}

.history {
  background: white;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid black;
  border-radius: 10px;
  width: 200px;
  margin: auto;
  color: #0c0d0c;
  padding: 15px;
}

.payoff {
  display: flex;
  gap: 10px;
  font-size: 10px;
}

.payoff div {
background-color: white;
border-radius: 3px;
margin: auto;
position: relative;
bottom: 25px;
width: 275px;
padding: 5px;
  
}