body {
  background-color: rgb(56, 55, 55);

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

input {
  border-radius: 8px;
}

.calc-wrapper {
  background-color: rgb(202, 197, 197);
  border-radius: 10px;
  width: 400px;
  height: 500px;
  border: 2px outset black;
  margin: 50px auto;
  padding: 20px;
}

.pay-button {
 display: flex;
 justify-content: center;
 align-items: center;
}

.field-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.balance-wrap {
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  padding: 10px ;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  font-weight: 800;
  background-color: red;
}